body {
  margin: 0;
  padding: 0;
  background-image: url("/try.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0,0.3);
  scroll-behavior: smooth;
    backdrop-filter: blur(5px);
  /* smooth scrolling */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
